/*Ajustes*/
:root {
  --color1: #502f4c;
  --color2: #70587c;
  --color3: #c8b8db;
  --color4: #f9f4f5;
}
/*Navbar*/
.cab {
  background-color: var(--color1);
}
/*Main*/
.car {
  margin: auto;
}
.sec1,
.sec2 {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.video2 {
  display: flex;
  justify-content: center;
  align-items: center;
  order: 2;
  width: 50%;
  height: 400px;
}
.texto2 {
  order: 1;
  width: 50%;
}
.video {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 400px;
}
.texto {
  width: 50%;
}
.mapa {
  width: 100%;
  height: 200px;
}
.formulario,
.mapa2{
  width: 50%;
  height: 600px;
  padding: 30px;
}
.formulario{
  order:1;
  text-align: center;
}
.mapa2{
  order: 2;

}
@media (min-width: 900px) {
  /*
      .car{
      padding-left:10%;
      padding-right:10%;
      padding-bottom:0;
      padding-top:0;
    }
    */
  .mapa {
    height: 500px;
  }
}
@media (max-width: 900px){
  .sec1,
  .sec2{ 
    display: block;
  }
  .formulario,
  .mapa2,
  .video,
  .video2,
  .texto,
  .texto2{
  width: 100%;
  }
}