/*Ajustes*/
:root{
  --color1: #502F4C;
  --color2: #70587C;
  --color3: #C8B8DB;
  --color4: #F9F4F5;
}
/*Navbar*/
.cab{
  background-color: var(--color1);
}
.car{
  margin: auto;
}


@media( min-width:900px ){
  .car{
    width: 70%;
    padding-top: 20px;
  }
}